*.[oa]
*.exe
*.cbp
*.depend
bin/
obj/
.exe
.a
.o
*.layout
.layout
.vs/
Debug/
Release/
x86/
x64/
ipch/
*.db
*.vcxproj.user
output/
stdafx.h
stdafx.cpp
targetver.h
StdAfx.h
StdAfx.cpp
.temp/
install/
.vscode
